
{% extends "layout.html" %}
{% import "pagination.html" as macro %}

{% block content %}
    <h1><i class="fa fa-clock-o"> </i> Activities </h1>


    <table class="table table-striped">
    <thead>
    <tr>
        <th> Timestamp </th>
        {% if columns.actor %}
          <th> Actor (user) </th>
        {% endif %}
        {% if columns.category %}
          <th> Category </th>
        {% endif %}
        {% if columns.act_on %}
          <th> Acted on (user) </th>
        {% endif %}
        <th> Activity </th>
        {% if columns.origin %}
          <th> From where (host) </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
        {% for activity in activities %}
        <tr>
            <td> {{ activity.timestamp }} </td>
            {% if columns.actor %}
              <td> {{ activity.actor.replace('%', ' ') }} </td>
            {% endif %}
            {% if columns.category %}
              <td> {{ activity.category }} </td>
            {% endif %}
            {% if columns.act_on %}
              <td> {{ activity.acted_on.replace('%', ' ') }} </td>
            {% endif %}
            <td> {{ activity.description }} </td>
            {% if columns.origin %}
              <td> {{ activity.origin }} </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <div class="pagination">
      {{ macro.pagination_widget(pagination, 'activity.home') }}
    </div>

{% endblock %}
