
{% extends "layout.html" %}

{% block content %}
    <div class="container-narrow">
      <h1><i class="fa fa-key"></i> Set forgotten Password </h1>

      <form id="set_password" class="form" method="POST" 
                action="" role="form">

      {{ form.csrf_token }}
      <p><div class="form-group">
      {{ form.password.label }}
      {{ form.password(placeholder="Password", class_="form-control")}}
      </div></p>

      <p><div class="form-group">
      {{ form.confirm.label }}
      {{ form.confirm(placeholder="Password (again)",
         class_="form-control")}}
      </div></p>

      {{ form.setpwd(class_="btn btn-default btn-submit") }}

      </form>
    </div>
{% endblock %}
