
{% extends "layout.html" %}
{% block content %}


<div class="container-narrow">
  <h1>Forgotten Password</h1>

    <form id="forgotten_pwd" name="forgotten_pwd" method="POST" class="form">
      {{ form.csrf_token }}

      <p> 
      Please enter your <b>username</b>. We sent you an email
      that contains a temporarily valid link.
      This link leads you to a web page where you can set a new password.
      </p>

      <p> 
      Make sure you actually use local authorization. If you use any openid
      provider for authentication, you need to reset your password at your
      openid provider
      </p>

      <p><div class="form-group">
        {{ form.username(placeholder="Username", class_="form-control") }}
      </div></p>

      <p> 
      If you cannot recall your <b>username</b>, please talk to your site
      administrator. (S)he might be able to help you.
      </p>

      <p><div class="form-group">
      {{ form.request(class="btn btn-default") }}
      </div></p>
    </form>

</div>
{% endblock %}
