
{% extends "layout.html" %}
{% block content %}


<div class="container-narrow">
  <h1>Login</h1>

    <h2>Choose your remote authentication provider to authenticate</h2>

    <p>
      <ul class="nav nav-pills">
        {% for pr in oauth2_providers %}
          <li><a href="{{ url_for(pr.url_for) }}"> {{ pr.name |safe }} </a></li>
        {% endfor %}
      </ul>

    </p>

    <h2>Or authenticate locally</h2>

    <p>
    <form id="login" method="POST" class="form">
      {{ form_up.csrf_token }}

      <p><div class="form-group">
        {{ form_up.username(placeholder="Username", class_="form-control") }}
      </div></p>
      <p><div class="form-group">
        {{ form_up.password(placeholder="Password", class_="form-control") }}
      </div></p>

      <p><div class="form-group">
      {{form_up.remember_me}} Remember Me
      </div></p>
      <p><div class="form-group">
      {{ form_up.login(class="btn btn-default") }}
      </div></p>
    </form>
    </p>

    <p><em>Not registered yet?</em> Click 
    <a href="{{ url_for('public.register') }}">here</a>
    to create an account.</p>

    <p><em>Forgot your login data?</em> Click 
    <a href="{{ url_for('public.forgotten_password') }}">here</a>
    to get help.</p>
</div>
{% endblock %}
