
{% extends "layout.html" %}
{% block content %}

<div class="container-narrow">
  <h1>Register</h1>

    <h2>Choose your remote authentication provider  to register</h2>

    <p>
      <ul class="nav nav-pills">
        {% for pr in oauth2_providers %}
          <li><a href="{{ url_for(pr.url_for) }}"> {{ pr.name |safe }} </a></li>
        {% endfor %}
      </ul>

    </p>

    <h2>Or register locally</h2>

    <p>
    <form id="register_userpassword" method="POST" class="form">
      {{ form_up.csrf_token }}

      <p><div class="form-group">
        {{ form_up.username(placeholder="Username", class_="form-control") }}
      </div></p>
      <p><div class="form-group">
        {{ form_up.password(placeholder="Password", class_="form-control") }}
      </div></p>
      <div class="form-group">
        {{form_up.confirm.label}}
        {{form_up.confirm(placeholder="Password (again)", class_="form-control")}}
      </div>

      <p><div class="form-group">
      {{ form_up.register(class="btn btn-default") }}
      </div></p>
    </form>
    </p>

</div>
{% endblock %}
